@model ProjectEvalutionSystem.Models.Admin

@{
    ViewBag.Title = "Delete";
}

<div class="card card-custom gutter-b">
    <div class="card-header border-0">
        <div class="card-title">
            <span class="card-icon">
                <i class="flaticon2-chat-1 text-primary"></i>
            </span>
            <h3>Are you sure you want to delete this?</h3>
        </div>
        <div class="card-toolbar">
            <a href="/admins/Index" class="btn btn-outline-secondary font-weight-bold">Back to List</a>
        </div>
    </div>
    <div class="separator separator-solid separator-white opacity-20"></div>
    <div class="card-body">
        <div class="container">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.FullName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FullName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EmailAddress)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EmailAddress)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Password)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Password)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>

                <dd>
                    @{
                        if (Convert.ToBoolean(Model.IsActive) != null && Convert.ToBoolean(Model.IsActive))
                        {
                            <span class="label label-success label-inline mr-2">Active</span>
                        }
                        else
                        {
                            <span class="label label-danger label-inline mr-2">In Active</span>
                        }

                    }
                </dd>
            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Remove" class="btn btn-light-danger font-weight-bold" />
                    <a href="/admins/Index" class="btn btn-outline-secondary font-weight-bold">Back to List</a>
                </div>
            }
        </div>
    </div>
</div>
<div>
</div>
