@using ProjectEvalutionSystem.Models.Auth
@model IEnumerable<ProjectEvalutionSystem.Models.Cours>

@{
    ViewBag.Title = "Courses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card card-custom gutter-b">
    <div class="card-header border-0">
        <div class="card-title">
            <span class="card-icon">
                <i class="flaticon2-chat-1 text-primary"></i>
            </span>
            <h3 class="card-label text-primary">
                Courses's Grid View
            </h3>
        </div>
        <div class="card-toolbar">
            @{
                switch ((UserRole)Session["UserRole"])
                {
                    case UserRole.Teacher:
                        <a href="/Courses/Create" class="btn btn-sm btn-primary">
                            <i class="flaticon2-cube"></i> Add Course
                        </a>
                        break;

                    case UserRole.SuperAdmin:
                        <a href="/Courses/Create" class="btn btn-sm btn-primary">
                            <i class="flaticon2-cube"></i> Add Course
                        </a>
                        break;
                }
            }
        </div>
    </div>
    <div class="separator separator-solid separator-white opacity-20"></div>
    <div class="card-body">
        <div class="container">
            <table class="table table-bordered">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Teacher)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreationTimeStamp)
                    </th>
                    @{
                        switch ((UserRole)Session["UserRole"])
                        {
                            case UserRole.Teacher:
                                <th>
                                    Actions
                                </th>
                                break;

                            case UserRole.SuperAdmin:
                                <th>
                                    Actions
                                </th>
                                break;
                        }
                    }
                    
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Teacher.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreationTimeStamp)
                        </td>
                        @{
                            switch ((UserRole)Session["UserRole"])
                            {
                                case UserRole.Teacher:
                                    <td>
                                        <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                                <a href="/Courses/Edit/@item.ID.ToString()"><button type="button" class="btn btn-outline-warning m-1"><i class="la la-pencil"></i> Update</button></a>
                                                <a href="/Courses/Delete/@item.ID.ToString()"><button type="button" class="btn btn-outline-danger m-1"><i class="la la-trash"></i> Trash</button></a>
                                            </div>
                                        </div>
                                    </td>
                                    break;

                                case UserRole.SuperAdmin:
                                    <td>
                                        <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                                <a href="/Courses/Edit/@item.ID.ToString()"><button type="button" class="btn btn-outline-warning m-1"><i class="la la-pencil"></i> Update</button></a>
                                                <a href="/Courses/Delete/@item.ID.ToString()"><button type="button" class="btn btn-outline-danger m-1"><i class="la la-trash"></i> Trash</button></a>
                                            </div>
                                        </div>
                                    </td>
                                    break;
                            }
                        }
                    </tr>
                }

            </table>
        </div>
    </div>
</div>

