@model IEnumerable<ProjectEvalutionSystem.Models.EvalutionIndex>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-custom gutter-b">
    <div class="card-header border-0">
        <div class="card-title">
            <span class="card-icon">
                <i class="flaticon2-chat-1 text-primary"></i>
            </span>
            <h3 class="card-label text-primary">
                Evaluation's Grid View
            </h3>
        </div>
        <div class="card-toolbar">
            <a href="/EvalutionIndexes/Create" class="btn btn-sm btn-primary">
                <i class="flaticon2-cube"></i> Add Evaluation
            </a>
        </div>
    </div>
    <div class="separator separator-solid separator-white opacity-20"></div>
    <div class="card-body">
        <div class="container">
            <table class="table table-bordered">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SubmissionDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EvalutionDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Remarks)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Comments)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Assignment)
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubmissionDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EvalutionDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Remarks)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comments)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Assignment.Name)
                        </td>
                        <td>
                            <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                    <a href="/EvalutionIndexes/Edit/@item.ID.ToString()"><button type="button" class="btn btn-outline-warning btn-icon m-1"><i class="la la-pencil"></i></button></a>
                                    <a href="/EvalutionIndexes/Delete/@item.ID.ToString()"><button type="button" class="btn btn-outline-danger btn-icon m-1"><i class="la la-trash"></i></button></a>
                                    <a href="/EvalutionIndexes/StartEvaluation/@item.ID.ToString()"><button type="button" class="btn btn-outline-success m-1">Start Evaluation <i class="fas fa-arrow-right"></i></button></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>


