@using ProjectEvalutionSystem.Models.Auth
@model IEnumerable<ProjectEvalutionSystem.Models.EvalutionIndex>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-custom gutter-b">
    <div class="card-header border-0">
        <div class="card-title">
            <span class="card-icon">
                <i class="flaticon2-chat-1 text-primary"></i>
            </span>
            <h3 class="card-label text-primary">
                Evaluation's Grid View
            </h3>
        </div>
        <div class="card-toolbar">
            @{
                switch ((UserRole)Session["UserRole"])
                {
                    case UserRole.Teacher:

                        <a href="/EvalutionIndexes/Create" class="btn btn-sm btn-primary">
                            <i class="flaticon2-cube"></i> Add Evaluation
                        </a>
                        break;

                    case UserRole.SuperAdmin:
                        <a href="/EvalutionIndexes/Create" class="btn btn-sm btn-primary">
                            <i class="flaticon2-cube"></i> Add Evaluation
                        </a>

                        break;
                }
            }
        </div>
    </div>
    <div class="separator separator-solid separator-white opacity-20"></div>
    <div class="card-body">
        <div class="container">
            <table class="table table-bordered">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SubmissionDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EvalutionDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Remarks)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Comments)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Assignment)
                    </th>
                    @{
                        switch ((UserRole)Session["UserRole"])
                        {
                            case UserRole.Teacher:

                                <th>
                                    Actions
                                </th>
                                break;

                            case UserRole.SuperAdmin:
                                <th>
                                    Actions
                                </th>

                                break;
                        }
                    }
                    
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubmissionDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EvalutionDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Remarks)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comments)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Assignment.Name)
                        </td>
                        @{
                            switch ((UserRole)Session["UserRole"])
                            {
                                case UserRole.Teacher:

                                    <td>
                                        <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                                <a href="/EvalutionIndexes/Edit/@item.ID.ToString()"><button type="button" class="btn btn-outline-warning m-1"><i class="la la-pencil"></i> Update</button></a>
                                                <a href="/EvalutionIndexes/Delete/@item.ID.ToString()"><button type="button" class="btn btn-outline-danger m-1"><i class="la la-trash"></i> Trash</button></a>
                                                <a href="#"><button type="button" id="btnStartEvaluation" data-id="@item.ID.ToString()" class="btn btn-outline-success m-1">Start Evaluation <i class="fas fa-arrow-right"></i></button></a>
                                            </div>
                                        </div>
                                    </td>
                                    break;

                                case UserRole.SuperAdmin:

                                    <td>
                                        <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                                <a href="/EvalutionIndexes/Edit/@item.ID.ToString()"><button type="button" class="btn btn-outline-warning m-1"><i class="la la-pencil"></i> Update</button></a>
                                                <a href="/EvalutionIndexes/Delete/@item.ID.ToString()"><button type="button" class="btn btn-outline-danger m-1"><i class="la la-trash"></i> Trash</button></a>
                                                <a href="#"><button type="button" id="btnStartEvaluation" data-id="@item.ID.ToString()" class="btn btn-outline-success m-1">Start Evaluation <i class="fas fa-arrow-right"></i></button></a>
                                            </div>
                                        </div>
                                    </td>
                                    break;
                            }
                        }
                        
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $('#btnStartEvaluation').click(function (e) {
            debugger;
            e.preventDefault();
            KTApp.block('#kt_content', {
                overlayColor: '#000000',
                state: 'primary',
                message: 'Checking Plagiarism....'
            });
            var IdToProceed = $('#btnStartEvaluation').attr('data-id');
            location.href = '/EvalutionIndexes/StartEvaluation/' + IdToProceed;
        })
    </script>
}

